@import url(variables.css);

/* ANCHOR - main-content */

main {
  padding: 0 2.1rem 10rem 2.1rem;
}

.main-content {
  margin-top: 2rem;
}

/* ANCHOR - common component */

.category {
  width: 10.7rem;
  height: 4rem;
  background-color: var(--category-background-color);
  font-family: var(--font-family-oswald);
  font-size: var(--category-font-size);
  font-weight: var(--category-font-weight);
  letter-spacing: var(--category-letter-spacing);
  color: var(--category-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.6rem;
  align-items: center;
  color: #fff;
  font-family: var(--font-family-lato);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 3rem; /* 230.769% */
  width: 18.5rem;
  height: 3rem;
}

.info #share-icon,
.info #eye-icon {
  height: 1.5rem;
}

.info #comment-icon {
  height: 2rem;
}

.info-wrapper {
  display: flex;
  align-items: center;
}

.info-wrapper > img {
  margin-right: 1.1rem;
}

/* ANCHOR - main-card */

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding: 8.7rem 3rem 3rem 3rem;
}

.main-card .category {
  margin-bottom: 2rem;
}

.main-card .title {
  font-family: var(--font-family-oswald);
  font-size: 2.6rem;
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
  color: var(--font-color-light);
  line-height: 3.92rem;
  letter-spacing: -0.0382rem;
  text-align: center;
  margin-bottom: 7.7rem;
}

/* ANCHOR - card */

.card {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.card .category {
  margin-top: 3rem;
}

.card .title {
  margin: 2.2rem 6.6rem 0 2.5rem;
  color: var(--font-color-light);
  font-family: var(--font-family-lato);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem; /* 125% */
  letter-spacing: -0.02rem;
}

.card .info {
  margin: 4.1rem 0 2.1rem 2.8rem;
}

/* ANCHOR - list card */

.list-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-white);
}

.list-card .title {
  color: var(--font-color-dark);
  font-family: var(--font-family-oswald);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1531rem;
  text-transform: uppercase;
  margin: 3.5rem 0 0 2.57rem;
}

.list-card .content-list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: index;
}

.list-card .content {
  display: flex;
  flex-direction: row;
  color: var(--font-color-dark);
  font-family: var(--font-family-lato);
  word-break: keep-all;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem; /* 144.444% */
  letter-spacing: -0.02rem;
  padding: 2.8rem 5.5rem 2.9rem 2.7rem;
  border-bottom: var(--border-bottom);
}

.list-card .content::before {
  counter-increment: index;
  content: counter(index);
  margin-right: 2.5rem;
  color: var(--font-color-dark);
  font-family: var(--font-family-oswald);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.1662;
}

/* ANCHOR - color card */

.color-card {
  background-color: var(--background-brand);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.7rem 2.8rem 4rem 2.5rem;
}

.color-card .title {
  color: var(--font-color-light);
  font-family: var(--font-family-oswald);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 4rem; /* 153.846% */
  letter-spacing: -0.0382rem;
  text-transform: uppercase;
  margin-bottom: 2.1rem;
}

.color-card .content {
  color: var(--font-color-light);
  font-family: var(--font-family-lato);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
  margin-bottom: 3rem;
}

.color-card button {
  border: var(--button-border);
  border-bottom: var(--button-border-bottom);
  padding: 1.8rem 6.35rem;
  color: var(--font-color-light);
  text-align: center;
  font-family: var(--font-family-oswald);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

/* ANCHOR - detail */

#finance_1 {
  background-image: url("../assets/backgrounds/background1.png");
  background-position: -10rem 0;
}

#finance_2 {
  background-image: url("../assets/backgrounds/background2.png");
}
