@import url(variables.css);

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 4rem 2rem 6.2rem 2rem;
}

#copyright-wrapper {
  display: flex;
  flex-direction: column;
}

#copyright {
  color: var(--font-color-light);
  font-family: var(--font-family-lato);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  opacity: 0.7;
  margin-top: 0.6rem;
}

.email-form {
  display: flex;
  width: 30rem;
  margin: 2rem 0 3rem 0;
}

.email-form input {
  box-sizing: border-box;
  width: 18rem;
  padding: 0.7rem 1.5rem;
}

.email-form input::placeholder {
  color: var(--font-color-dark);
  font-family: var(--font-family-lato);
  font-size: 1.4rem;
  line-height: 2.2rem;
  opacity: 0.4;
}

.email-form button {
  width: 12rem;
  padding: 0.9rem 2.7rem;
  background-color: var(--background-brand);
  color: var(--font-color-light);
  text-align: center;
  font-family: var(--font-family-oswald);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.social-container {
  display: flex;
}

.social-container .title {
  color: var(--font-color-light);
  font-family: var(--font-family-lato);
  font-size: 1.4rem;
  line-height: 2.2rem;
  opacity: 0.7;
}

.social-container .icon {
  display: flex;
  margin-left: 1.5rem;
}

#footer-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.7rem 6.5rem;
  margin-top: 3rem;
}

#footer-navigation li {
  color: var(--font-color-light);
  font-family: var(--font-family-oswald);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.175rem;
  text-transform: uppercase;
}

#footer-navigation .tech {
  grid-area: "tech";
}

#footer-navigation .video {
  grid-area: "video";
}

#footer-navigation .ideas {
  grid-area: "ideas";
}

#footer-navigation .news {
  grid-area: "news";
}

#footer-navigation .entertainment {
  grid-area: "entertainment";
}

#footer-navigation .finance {
  grid-area: "finance";
}

#footer-navigation .leadership {
  grid-area: "leadership";
}
