:root {
  --font-color-dark: #1d1f24;
  --font-color-light: #ffffff;
  --background-white: #ffffff;
  --background-brand: #ff565c;
  --border-bottom: 0.1rem solid #ebebeb;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-lato: "Lato", sans-serif;
}

header {
  --menu-item-color: #1d1f24;
  --menu-item-opacity: 0.2;
  --menu-item-hover-opacity: 1;
  --menu-item-font-size: 1.4rem;
  --menu-item-font-weight: 500;
  --menu-item-letter-spacing: 0.175rem;
}

main {
  --category-background-color: #ff565c;
  --category-font-size: 1.4rem;
  --category-font-weight: 500;
  --category-letter-spacing: 0.175rem;
  --category-color: #ffffff;
}
